flows.json
[{"id":"d455728b.99855","type":"tab","label":"Jujue","disabled":false,"info":""},{"id":"8d531724fd4a298b","type":"inject","z":"d455728b.99855","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":180,"wires":[["588cc061be5de075"]]},{"id":"588cc061be5de075","type":"payload","z":"d455728b.99855","name":"","payload":"{   \"content\": \"這是一條普通通知訊息\" }","payloadType":"json","x":420,"y":180,"wires":[["e88b5a3833a59a75"]]},{"id":"3158a6ce8a64390b","type":"debug","z":"d455728b.99855","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":220,"wires":[]},{"id":"45089de4a65f3fc2","type":"comment","z":"d455728b.99855","name":"顯示通知重要性","info":"","x":200,"y":120,"wires":[]},{"id":"d04c866e77176a4f","type":"inject","z":"d455728b.99855","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":240,"wires":[["2d9706b241752f91"]]},{"id":"2d9706b241752f91","type":"payload","z":"d455728b.99855","name":"","payload":"{   \"content\": \"這是一條重要通知訊息\" }","payloadType":"json","x":400,"y":240,"wires":[["e88b5a3833a59a75"]]},{"id":"e88b5a3833a59a75","type":"switch","z":"d455728b.99855","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"\"重要\"","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":220,"wires":[["3158a6ce8a64390b"],["3158a6ce8a64390b"]]},{"id":"df39826166fe7d64","type":"inject","z":"d455728b.99855","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":400,"wires":[["7176e70fef3cb986"]]},{"id":"ae9932724ec72a81","type":"comment","z":"d455728b.99855","name":"簡易 ChatBot","info":"","x":190,"y":360,"wires":[]},{"id":"8fb7d1f0d1e9a33a","type":"debug","z":"d455728b.99855","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":920,"y":440,"wires":[]},{"id":"1117cc78fa460949","type":"function","z":"d455728b.99855","name":"function 1","func":"if (typeof msg.payload === \"string\" && msg.payload.includes(\"天氣\")) {\n    msg.payload = \"今天的天氣晴朗，氣溫22°C\";\n} else if (typeof msg.payload === \"string\" && msg.payload.includes(\"幫助\")) {\n    msg.payload = \"您好！請問我可以幫助您什麼？\";\n} else {\n    msg.payload = \"抱歉，我不理解您的問題。\";\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":440,"wires":[["8fb7d1f0d1e9a33a"]]},{"id":"7176e70fef3cb986","type":"payload","z":"d455728b.99855","name":"","payload":"{\"content\": \"天氣\"}","payloadType":"str","x":360,"y":400,"wires":[["1117cc78fa460949"]]},{"id":"8a7aacc41501896c","type":"payload","z":"d455728b.99855","name":"","payload":"{\"content\": \"幫助\"}","payloadType":"str","x":360,"y":440,"wires":[["1117cc78fa460949"]]},{"id":"d1ff850176135d13","type":"inject","z":"d455728b.99855","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":440,"wires":[["8a7aacc41501896c"]]},{"id":"1137f1897f93118a","type":"inject","z":"d455728b.99855","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":500,"wires":[["db433b6d9d577016"]]},{"id":"db433b6d9d577016","type":"payload","z":"d455728b.99855","name":"","payload":"{\"content\": \"其他\"}","payloadType":"str","x":360,"y":500,"wires":[["1117cc78fa460949"]]}]